<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.DiscussionRoomMapper">

    <!-- 分页获取讨论房间表 -->
    <select id="queryPage" resultType="java.util.LinkedHashMap">
        select
        dr.id,
        dr.room_name,
        dr.topic,
        dr.room_status,
        dr.max_member_count,
        dr.duration_minutes,
        dr.current_member_count,
        dr.auto_start,
        dr.start_time,
        dr.end_time,
        dr.created_by,
        dr.create_time,
        dr.update_time
        from discussion_room dr
        where 1 = 1
        <if test="queryForm.roomName != null and queryForm.roomName != ''">
            AND dr.room_name like CONCAT("%",#{queryForm.roomName},"%")
        </if>
        <if test="queryForm.topic != null and queryForm.topic != ''">
            AND dr.topic like CONCAT("%",#{queryForm.topic},"%")
        </if>
        <if test="queryForm.roomStatus != null and queryForm.roomStatus != ''">
            AND dr.room_status = #{queryForm.roomStatus}
        </if>
        order by dr.create_time desc
    </select>
</mapper>
